


<br>

    <div class="event-subscribes-list">
        <h1>Events Created by this User</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Start Date</th>
                    <th>Location</th>
                    <th>Category</th>
                    <th>Capacity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for event in field.value %} 
                 
                    <tr onclick="window.location='{{ ea_url().setController('App\\Controller\\Back_office\\EventCrudController').setAction('detail').setEntityId(event.id) }}'" style="cursor: pointer;">
                        <td>{{ event.id }}</td>
                        <td>
                            {% if event.image %}
                                <img src="{{ asset('uploads/events/' ~ event.image) }}" alt="Event Image" style="width:40px; height:40px; border-radius:50%;">
                            {% else %}
                                <i class="fa-solid fa-calendar-check" style="font-size:40px; color:rgba(0,0,0,0.2);"></i>
                            {% endif %}
                        </td>
                        <td>{{ event.title }}</td>
                        <td>{{ event.start_date_time|date('Y-m-d') }}</td>
                        <td>{{ event.location }}</td>
                        <td>{{ event.category }}</td>
                        <td>{{ event.capacity }}</td>
                        <td>{{ event.price }}</td>
                        
                    </tr>
                
                {% else %}
                    <tr><td colspan="5" class="text-center">No Events found.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

   




